# =========================
# JAVA
# =========================

# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear

# BlueJ
*.ctxt

# Mobile Tools for Java
.mtj.tmp/

# JVM crash logs
hs_err_pid*
replay_pid*

# Maven / Gradle
target/
.gradle/
build/

# =========================
# C# / .NET
# =========================

# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# NuGet
packages/
*.nupkg

# =========================
# GENERIC
# =========================

# Logs
*.log

# Compressed files
*.zip
*.tar.gz
*.rar

# OS files
.DS_Store
Thumbs.db